@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Arial', sans-serif; /* Thay thế 'Arial' bằng font mong muốn */
}

html {
  font-size: 62.5%; /* Điều này tương đương với 10px */
}

/* Cài đặt kiểu dáng cho điện thoại di động */
@media only screen and (max-width: 768px) {
  body {
    font-size: 1.4rem; /* Tương đương với 14px */
  }

  /* Thêm các điều chỉnh kiểu dáng khác cho điện thoại di động nếu cần */
}

/* Cài đặt kiểu dáng cho máy tính */
@media only screen and (min-width: 769px) {
  /* Thêm các điều chỉnh kiểu dáng cho máy tính nếu cần */
}
